DD_API_KEY=your_api_key_here
DD_APP_KEY=your_app_key_here
DD_SITE=datadoghq.com
REF_TABLE_NAME=macbank_mapper
REF_TABLE_ID=
# Override for other orgs with different column names
REF_TABLE_COL_1=service
REF_TABLE_COL_2=team
